section.about
  .container
    h2.about__title.section__title О нас
    ul.about__list
      li.about__item
        .about__wrapper
          h3.about__heading По полочкам — крупнейший книжный интернет магазин
          p.about__text
            .
              Мы предлагаем большой выбор книг, поддерживая длительные и дружелюбные партнёрские отношения с большинством
              издательств. Мы любим книги, ценим любовь к книгам наших покупателей, поэтому стараемся сделать всё возможное, чтобы
              каждая книга нашла своего читателя. Наши продавцы разделяют вашу любовь к чтению и всегда рады помочь.
      li.about__item
        .about__wrapper
          h3.about__heading Почему покупать книги онлайн удобно?
          p.about__text
            .
              Что делать, если вам нужна особенная книга? Вдруг ее нет в наличии? Чтобы сэкономить время, загляните на наш сайт. Мы
              доставляем книги почтой, курьером, в пункты самовывоза или бесплатно в магазины сети. А еще у нас есть мобильное
              приложение, в котором удобно делать заказы. Вы можете добавить в него Карту Любимого Покупателя, чтобы копить бонусы и
              тратить их на покупки.
