section.reviews
  .container
    h2.reviews__title.section__title Рецензии
    ul.reviews__list
      li.reviews__item
        .reviews__wrapper
          .reviews__info
            .reviews__box-images
              img.reviews__img(src="static/images/content/review-4.jpg" alt="Фото автора отзыва" width="80" height="80")
            .reviews__box
              h3.reviews__name Алексей Иванов
              p.reviews__count Купил 23 книг
          p.reviews__review Хорошая книга. Полна приключений, романтики, неплохих действующих героев. Вообщем всего, что нужно, чтобы хорошо провести время за чтением.
      li.reviews__item
        .reviews__wrapper
          .reviews__info
            .reviews__box-images
              img.reviews__img(src="static/images/content/review-5.jpg" alt="Фото автора отзыва" width="80" height="80")
            .reviews__box
              h3.reviews__name Анна Кириллова
              p.reviews__count Купила 50 книг
          p.reviews__review Не ожидала многого от этой книги, купилась больше на красивую обложку, но была рада ошибиться. Обе книги прочитала дня за 3 или 4, уже не помню, так вчиталась!
      li.reviews__item
        .reviews__wrapper
          .reviews__info
            .reviews__box-images
              img.reviews__img(src="static/images/content/review-6.jpg" alt="Фото автора отзыва" width="80" height="80")
            .reviews__box
              h3.reviews__name Мария Нагаева
              p.reviews__count Купила 8 книг
          p.reviews__review Очень нетипичный подход, учитывая, что фейри и железо слабо совместимы, но логика автора, позволившая формирование нового Двора, меня восхитила.
