section.catalog
      .container
        h1.catalog__title Каталог книг
        .catalog__wrapper
          include ./catalog-filter
          include ./catalog-books
        include ./catalog-pagination