section.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a.breadcrumbs__link(href="index.html") Главная страница
      li.breadcrumbs__item
        span.breadcrumbs__text Каталог книг