extends layout/layout

block content
  main.book-page
    include ./includes/book-page/breadcrumbs
    include ./includes/book-page/book
    include ./includes/book-page/book-reviews
    include ./includes/book-page/book-recently-viewed
