extends layout/layout

block variables
  - var title = "Главная страница"
  -var pageClass = "index-page"
  - var pathContentImg = 'static/images/content/'
  - var pathCommonImg = 'static/images/common/'

block content
  main(class= pageClass)
    h1.visually-hidden Магазин по продаже книг "По полочкам"
    include ./includes/main-page/hero
    include ./includes/main-page/new-books
    include ./includes/main-page/best-books
    include ./includes/main-page/reviews
    include ./includes/main-page/about
