extends layout/layout

block content
  main.index-page
    h1.visually-hidden Магазин по продаже книг "По полочкам"
    include ./includes/main-page/hero
    include ./includes/main-page/new-books
    include ./includes/main-page/best-books
    include ./includes/main-page/reviews
    include ./includes/main-page/about
